<div class="child-container">
	<button class='button-style' {{action "geolocate"}} type="button">Get My Location</button>
	<table class="child-container">
		<tr>
			<td>
				<label class='label-style'>Lattitude:</label>
			</td>
			<td>
				<label id='lat' class='latlong-value-style'></label>
			</td>
		</tr>
		<tr>
			<td>
				<label class='label-style'>Longitude:</label>
			</td>
			<td>
				<label id='long' class='latlong-value-style'></label>
			</td>
		</tr>
	</table>
</div>
{{outlet}}
